.member-search{
    margin-top: 150px;
}

.member__wrap-header{
    border-bottom: 1px solid #ccc;
}

.member__wrap-header h4{
    font-size: 2rem;
    line-height: 2rem;
    padding: 12px 12px;
    color: var(--white-color);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    background: var(--primary-color);
    width: 16%;
}

.member__search{
    display: flex;
}

.member__search-wrap{
    margin-bottom: 10px;
    width: 40%;
}

.member__search-input{
    margin-right: 2rem;
    border: none;
    outline: none;
    background: #e7dfdf;
    border-radius: 100rem;
    line-height: 3rem;
    padding: 0 34px 0 10px;
    font-size: 1.4rem;
    position: relative;
    width: 78%;
}

.member__search-logo{
    position: absolute;
    display: block;
    right: 67.3%;
    top: 24.4%;
    font-size: 1.4rem;
    color: var(--text-color);
}


.member__search-filter{
    display: flex;
    justify-content: space-between;
}

.member__search-select{
    margin-right: 30px;
}

.from-select{
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.pagination{
    margin-top: 30px;
}

.pagination__product{
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination__product-item{
    margin: 0 12px;
}

.pagination__product-link{
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: varr(--text-color);
    display: block;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination__product-item-active .pagination__product-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination__product-item-active .pagination__product-link:hover{
    opacity: 0.8;
}

/* pesional update css */
.pesional__update{
    margin-top: 125px !important;
}

.pesional__update-heading{
    font-size: 2rem;
    color: var(--text-color);
}

.pesional__update-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesional__update-avatar-icon{
    font-size: 13rem;
    line-height: 15rem;
    color: #ccc;
}

.pesional__update-edit {
    color: var(--text-color);
    /* font-weight: 400; */
    font-size: 1.8rem;
    cursor: pointer;
}

.pesional__update-edit i{
    margin-left: 6px;
}

.pesional__update-edit:hover{
    opacity: 0.8;
}

.pesional__update-info{
    margin: 5rem 24rem 0;
}

.lable_name {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
    width: 96px;
    display: inline-block;
}

.pesional-input {
    border: 1px solid #c1bdbd;
    border-radius: 2px;
    outline: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 5px;
    color: var(--text-color);
    margin-bottom: 10px;
    width: 80%;

}

.pesional__update-info-gender,
.pesional__update-info-gender form{
    display: flex;
}

.pesional__update-btn{
    text-align: center;
    margin-top: 16px;
}