.member-search{
    margin-top: 150px;
}

.member__wrap-header{
    border-bottom: 1px solid #ccc;
}

.member__wrap-header h4{
    font-size: 2rem;
    line-height: 2rem;
    padding: 12px 12px;
    color: var(--white-color);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    background: var(--primary-color);
    width: 16%;
}

.member__search{
    display: flex;
}

.member__search-wrap{
    margin-bottom: 10px;
    width: 40%;
}

.member__search-input{
    margin-right: 2rem;
    border: none;
    outline: none;
    background: #e7dfdf;
    border-radius: 100rem;
    line-height: 3rem;
    padding: 0 34px 0 10px;
    font-size: 1.4rem;
    position: relative;
    width: 78%;
}

.member__search-logo {
    position: absolute;
    display: block;
    right: 66%;
    top: 22.3%;
    font-size: 1.4rem;
    color: var(--text-color);
}



.member__search-filter{
    display: flex;
    justify-content: space-between;
}

.member__search-select{
    margin-right: 30px;
}

.from-select{
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.pagination{
    margin-top: 30px;
}

.pagination__product{
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination__product-item{
    margin: 0 12px;
}

.pagination__product-link{
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: varr(--text-color);
    display: block;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination__product-item-active .pagination__product-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination__product-item-active .pagination__product-link:hover{
    opacity: 0.8;
}


/* css cho register */

.form_register {
    position: absolute;
     top: 10%;
     left: 35%;
     width: 25%;
     border: 1px solid green;
     padding: 20px;
     margin: 0 auto;
     font-weight: 700px;
     border-radius: 20px;
     box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
     background: rgba(240, 240, 240, 0.5);
 }

.rd_register{
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    margin-left: 25px;
    font-size: 18px;
}

.input_text {
    margin: 10px 0;
	width: 87%;
}

/* css login */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(240, 240, 240, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

section .login-box .form{
    width: 80%;
}

section .login-box .form h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 2.6em;
    line-height: 3.3rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #5bb0ff;
    display: inline-block;
    letter-spacing: 1px;
}

.input-form-active{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.input-form-active p{
    display: block;
    margin: 0;
}

.input-form-back{
    display: flex;
    justify-content: space-between;
}

.input-form-link {
    color: #5bb0ff;
    font-size: 1.7rem;
    text-decoration: underline;
}

section .login-box .form .input-form{
    margin-bottom: 20px;
}

section .login-box .form .input-form span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;

}

section .login-box .form .input-form input{
    width: 100%;

    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.login-back{
    text-align: center;
    width: 100%;
    display: block;
}

.register-radio{
    display: flex;
    justify-content: space-around;
}

input.register-radio-input{
    width: 26% !important;
}

label.register-radio-lable {
    width: 160px;
    font-size: 1.6rem;
}

.register-radio-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register_title{
    margin:5px 0px 5px 65px;
}

.btn_register{
    margin: 10px 0;
    background: #5bb0ff;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 12%);
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #e7eef1;
    border-radius: 30px;
}

.btn_register:hover{
    background: #2d9aff;


}
section .login-box .form .input-form input[type="submit"]{
    background: #5bb0ff;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

section .login-box .form .input-form input[type="submit"]:hover{
    background: #2d9aff;
}
section .login-box .form .nho-dang-nhap{
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

section .login-box .form .input-form p{
    color: #607d8b;
}

section .login-box .form .input-form p a{
    color: #5bb0ff;
}

section .login-box .form h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .login-box .form .icon-dang-nhap{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .login-box .form .icon-dang-nhap li{
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .login-box .form .icon-dang-nhap li:nth-child(1){
    color: #3b5999;
}
section .login-box .form .icon-dang-nhap li:nth-child(2){
    color: #dd4b39;
}

section .login-box .form .icon-dang-nhap li i{
    font-size: 24px;
}

@media (max-width: 768px){
    section .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .login-box .form{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
    section .login-box .form h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}


/* Css avatar */

.avatar__logo{
    position: relative;
}

.avatar__logo:hover + .avatar__navbar{
    display: block;
}

.avatar__logo-link {
    font-size: 3.6rem;
    color: var(--primary-color);
}

.avatar__logo::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #21d521;
    border-radius: 100rem;
}

.avatar__logo::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 10px;
    bottom: -8px;
    right: -9px;
    z-index: 2;
    /* background-color: rgba(0,0,0,.6); */
}

.avatar__navbar{
    position: absolute;
    top: 55px;
    right: 9%;
    width: 170px;
    color: var(--text-color);
    border-radius: 2px;
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    background-color: var(--white-color);
    animation: fadeIn ease-in 0.15s;
}

.avatar__navbar:hover{
    display: block;
}

.avatar__navbar-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.avatar__navbar-item-link{
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.avatar__navbar-item-link:hover{
    background-color: #e3e3e3;

}


/* Account css */
.account-header{
    font-size: 2.1rem;
    line-height: 3rem;
    color: var(--text-color);
    text-align: center;
}

.account-table{
    border-collapse: collapse !important;
    width: 100%;
    text-align: left;
}

.edit-account-form{
    margin-left: 32%;
}

th, tr, td{
    border-collapse: collapse !important;
    border: 1px solid #ccc !important;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.row th{
    text-align: center;
}

.input-form{
    margin-bottom: 16px;
}

.input-form-input{
    font-size: 1.5rem;
    padding: 4px 10px;
    outline: none;
    background: #e1dede;
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 30%;
}

.input-form-lable-text{
    display: inline-block;
    width: 110px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
}

.input-form-btn{
    margin-left: 28%;
    margin-top: 11px;
}

/*danh sach lop*/
.member__wrap-content{
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -4px;
    margin-right: -4px;
}

.bla-common-shadow{
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    position: relative;
    text-align: start;
}

.row-request{
    width: 60%;
    display: inline-block;
    margin: 10px 0;
}

.one-row-class{
    margin-left:40px;
}

a {
    text-decoration: none;
}